/* CONFIG. GERAIS */
.inter-titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.amarelo {
    color: #DFA100;
}

.sombra {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

/* NAVBAR  */
.nav-bar {
    width: 100vw;
    height: 10vh;
    gap: 5%;
    padding-left: 6rem;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: .3s;
}

.nav-bar:hover {
    background-color: #2c2c2c;
}

.nav-bar a {
    text-decoration: none;
    color: #FFF;
}

.nav-link {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.box-logo {
    width: 14%;
}

.box-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    padding: 1rem;
    align-items: center;
}

.box-logo a img {
    width: 17%;
    margin-right: 1rem;
}

.box-logo a p {
    color: #FFB904;
}

.box-btn-login {
    width: 13%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-btn-login a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.btn-login {
    width: 70%;
    height: 70%;
    border: none;
    background-color: #DFA100;
    color: #FFFFFF;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    cursor: pointer;
}

/* SEÇÃO 1 */

.secao1 {
    height: 100vh;
    width: 100%;
    margin-left: 6rem;
}

.circulo-secao1 {
    width: 100vh;
    height: 100vh;
    background-color: #FFB904;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -25%;
}

.box-beneficios-psicologicos {
    width: auto;
    height: fit-content;
    position: relative;
    margin: 7% 0;
}

.box-beneficios-psicologicos h1 {
    font-size: 76px;
    text-align: justify;
    color: #FFB904;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
}

.box-maior-conteudo {
    gap: 5%;
}

.box-conteudo {
    width: 50vw;
    height: 50vh;
    color: #FFF;
    margin-bottom: 35%;
}

.box-conteudo h1 {
    font-size: 70px;
}

.box-conteudo p {
    font-size: 20px;
    margin-top: 4%;
}

.box-maior-conteudo .box-img {
    width: 50vh;
    height: 50vh;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.box-maior-conteudo .box-img img {
    height: 100%;
    position: relative;
    left: -50px;
}

.circulo-secao1-2 {
    width: 300px;
    height: 300px;
    background-color: #FFB904;
    border-radius: 50%;
    position: absolute;
    left: -10%;
    top: 80%;
    z-index: 1;
}

/* SEÇÃO 2 */

.secao2 {
    height: 100vh;
    width: 100%;
    margin-top: 10%;
    position: relative;
}

.box-maior-conteudo2 {
    gap: 16%;
    margin-left: 20vh;
}

.box-maior-conteudo2 .box-img2 {
    width: 60vh;
    height: 60vh;
    background-color: #FFF;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.box-maior-conteudo2 .box-img2 img {
    height: 100%;
}

.box-conteudo-secao2 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 20%;
    color: #FFF;
}

.box-conteudo-secao2 h1 {
    font-size: 60px;
}

.box-conteudo-secao2 p {
    font-size: 16px;
    text-align: initial;
    margin-top: 4%;
}

.circulo-secao2 {
    width: 650px;
    height: 650px;
    background-color: #FFB904;
    border-radius: 50%;
    position: absolute;
    right: -20%;
    top: 0;
    z-index: 1;
}

/* SEÇÃO 3 */

.secao3 {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: -20%;
    z-index: 0;
}

.box-maior-conteudo3 {
    gap: 10%;
    position: relative;
    top: 80%;
}

.box-maior-conteudo3 .box-img3 {
    width: 60vh;
    height: 60vh;
    background-color: #FFF;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.box-maior-conteudo3 .box-img3 img {
    height: 100%;
    position: relative;
    left: -100px;
}

.box-conteudo-secao3 {
    width: 40%;
    height: 50%;
    position: relative;
    margin: 0 0 0 20vh;
    top: 20%;
    color: #FFF;
}

.box-conteudo-secao3 h1 {
    font-size: 50px;
}

.box-conteudo-secao3 p {
    font-size: 16px;
    text-align: initial;
    margin-top: 4%;
}

.secao3 .circulo-secao1-2 {
    top: 130%;
}

/* SEÇÃO 4 */


.box-maior-conteudo4 {
    gap: 10%;
    position: relative;
    top: 80%;
    margin-left: 20vh;
    margin-top: 80%;
    margin-bottom: 15vh;
}

.box-conteudo-secao4 {
    width: 40%;
    height: 50%;
    position: relative;
    top: 100%;
    color: #FFF;
}

.box-conteudo-secao4 h1 {
    font-size: 44px;
    margin-bottom: 8%;
}

.box-maior-conteudo4 .box-img4 {
    width: 60vh;
    height: 60vh;
    background-color: #FFF;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.box-maior-conteudo4 .box-img4 img {
    height: 100%;
    position: relative;
    left: -100px;
}