/* CONFIG. GERAIS */
.inter-titulo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.amarelo {
  color: #dfa100;
}

.sombra {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

/* NAVBAR  */
.nav-bar {
  width: 100%;
  height: 10vh;
  gap: 5%;
  padding-left: 6rem;
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 100000;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-link {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.box-logo {
  width: 14%;
}

.box-logo a {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  padding: 1rem;
  align-items: center;
}

.box-logo a img {
  width: 17%;
  margin-right: 1rem;
}

.box-logo a p {
  color: #ffb904;
}

.box-btn-login {
  width: 13%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.box-btn-login a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn-login {
  width: 70%;
  height: 70%;
  border: none;
  background-color: #dfa100;
  color: #ffffff;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* CONTEUDO */

.titulo-principal {
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin: 8% 0 5% 0;
}

.conteudo {
  width: 80vw;
  height: 30vh;
  color: #fff;
  margin-bottom: 3%;
  padding: 2%;
}

.titulo {
  font-size: 54px;
}

.conteudo p {
  font-size: 20px;
}

.direito {
  margin-left: 20%;
  text-align: end;
  padding-right: 2.2%;
  text-align: justify;
}

.box-exercicio {
  width: 100%;
  justify-content: space-around;
}

.titulo-principal-exercicio {
  background-color: #dfa100;
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin: 4% 0 4% 0;
}

.titulo-exercicio {
  font-size: 70px;
  color: #fff;
  margin-top: 2%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
  overflow: hidden;
  border-radius: 20px;
}

/* Style the back side */
.flip-card-back {
  background-color: #dfa0006c;
  color: white;
  transform: rotateY(180deg);
  padding: 3%;
  flex-direction: column;
}

.flip-card-back h2 {
    font-size: 30px;
    margin: 20% 0;
}

.flip-card-front img {
  width: 90%;
}

.box-card {
  flex-direction: column;
  width: 22%;
  height: 80vh;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #dfa100;
  margin-bottom: 3%;
  cursor: pointer;
}

.box-video {
  width: 60%;
  height: 70vh;
  border: 8px solid #fff;
  margin: 0 auto;
  margin-bottom: 3%;
}

.video {
  width: 100%;
  height: 100%;
}
