.inter-titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

.flex {
    display: flex;
}

.amarelo {
    color: #DFA100;
}

.sombra {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

/* NAVBAR  */
.nav-bar {
    width: 100%;
    height: 10vh;
    gap: 5%;
    padding-left: 6rem;
    background-color: #333333;
    position: fixed;
    top: 0;
    transition: .3s;
}

.nav-bar a {
    text-decoration: none;
    color: #FFF;
}

.nav-link {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
}

.nav-bar:hover {
    background-color: #2c2c2c;
}

.box-logo {
    width: 14%;
}

.box-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    padding: 1rem;
    align-items: center;
}

.box-logo a img {
    width: 17%;
    margin-right: 1rem;
}

.box-logo a p {
    color: #FFB904;
}

.box-btn-login {
    width: 13%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box-btn-login a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.btn-login {
    width: 70%;
    height: 70%;
    border: none;
    background-color: #DFA100;
    color: #FFFFFF;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    cursor: pointer;
}

/* CONTEUDO */

#div_msg {
    width: 50vw;
    height: 50vh;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: #2c2c2c;
    border: solid 3px #FFF;
    border-radius: 10px;
    padding: 2%;
    align-items: center;
}

.box-titulo {
    width: 100%;
    height: 25%;
    background-color: #2c2c2c;
    margin-bottom: 3%;
}

#div_msg p {
    margin-bottom: 5%;
}

#div_msg select {
    margin-bottom: 10%;
    border: none;
    height: 40px;
    border-radius: 5px;
}

#div_msg h1 {
    font-size: 28px;
    text-align: center;
}

.btn-clique-aqui {
    width: 14rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: #DFA100;
    color: #FFF;
    box-shadow: 0 0 25px #FFB904;
    cursor: pointer;
    transition: .3s;
    margin-top: 25%;
}

.btn-clique-aqui:hover {
    width: 16rem;
    height: 4rem;
    font-size: 20px;
}

.enviar {
    width: 14rem;
    height: 3rem;
    background-color: #DFA100;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

.titulo-quiz {
    text-align: start;
}